@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Press Start 2P', cursive;
    color: white;
}

.imposter {
    width: 100vw;
    height: 100vh;

    background: #333;

    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    position: relative;

    background: #2f2f2f;
    box-shadow: 0 0 12px #1f1f1f;
}

.ready {
    background: #2f2f2f;
}

.player {
    position: absolute;

    background: #E0E0E0;
    border-radius: 4px;

    transition: all .3s;
}

.ball {
    position: absolute;

    background: #e0e0e0;
    border-radius: 50%;
}

.block {
    position: absolute;

    transform: scaleX(0.95) scaleY(0.90);
    transition: all .3s;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;

    background: #2f2f2f;
    opacity: 80%;
}

.hidden {
    display: none;
}

.red {
    background: #E57373;
}

.green {
    background: #AED581;
}

.blue {
    background: #4FC3F7;
}

.yellow {
    background: #FFF176;
}

.orange {
    background: #FF8A65;
}

.purple {
    background: #BA68C8;
}